// Fonts
$Poppins: "Poppins", sans-serif;
$SFProText: "SFProText", sans-serif;

// Colors
$primary-gold: #deb25e;
$primary-green: #bcd42f;
$primary-dark: #222326;
$primary-border: #b9b9b9;
$brand: #d7d5c6;
$best-deals: #f9faea;
$error: #ff0000;
$primary-dark-opacity-gray: #2c2d2f;
$featured-gray: #ebeef4;
$text-gray: #65758b;
$line-gray: #0c0303;
$light-blue: #e0f7ff;
$light-purple: #ece0ff;
$light-orange: #fff6e0;
$light-yellow: #fcffe0;
$background-gray: #f5f6fa;
$item-gray: #8591a1;
$item-red: #65162e;
$LightGrayBorder: #edf0f4;
$BlackText: #000;

// Responsive layouts
$k-layout: "only screen and (min-width: 2560px )";
$hd-layout: "only screen and (min-width: 1920px) and (max-width: 2559px)";
$xl-layout: "only screen and (min-width: 1600px) and (max-width: 1919px)";
$lg-layout: "only screen and (min-width: 1440px) and (max-width: 1599px)";
$sm-layout: "only screen and (min-width: 1280px) and (max-width: 1439px)";
$tabsL-layout: "only screen and (min-width: 1024px) and (max-width: 1279px)";
$tabsP-layout: "only screen and (min-width: 768px) and (max-width: 1023px)";
$mobileL-layout: "only screen and (min-width: 481px) and (max-width: 767px)";
$mobileM-layout: "only screen and (min-width: 320px) and (max-width: 480px)";
$mobileS-layout: "only screen and (min-width: 300px) and (max-width: 319px)";
